{% if page.comments %}

  <hr class="wide" />
  <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/js/toggleDisqus.js"></script>
  <div class="center"><a class="commentToggle" id="showDisqus" href="#">Show Comments</a></div>
  <div class="center"><a class="commentToggle" id="hideDisqus" href="#">Hide Comments</a></div>
  <div id="comments">
  <!-- Add Disqus comments. -->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'reefturner'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <div class="dsq-brlink center "><span class="logo-disqus fa fa-gear fa-spin"></span></div>
  </div>
{% endif %}
