<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}
  {% include google_analytics.html %}

  <body>

    <div class="container content">
      <div class="masthead">
        <div class"masthead-float-container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
            <small> - {{ site.tagline }}</small>
          </h3>
          <h3 class="masthead-links">
            {% for page in site.pages_list %}
                <small>
                  <a href="{{ page[1]  }}">{{ page[0] }}</a>
                  {% unless forloop.last %}
                    &nbsp;|&nbsp;
                  {% endunless %}
                </small>
            {% endfor %}
          </h3>
          <div style="clear: both"></div>
        </div>
      </div>

      {{ content }}

      {% include comments.html %}

      <div class="footer">
        <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
      </div>
    </div>

  </body>
</html>
