<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{% if site.animated %}animated fade-in-down{% endif %}">
  <div class="site-wrap" style="padding-top: 4rem;">
    <div class="wrap measure paper">
      {% include header.html %}

      <div class="post p2 p-responsive wrap" style="padding-top: 0rem;" role="main">
        <div class="measure">
          {{ content }}

          {% include comments.html %}
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>
</html>
